{% extends 'college/adminbase.html' %}
{% load widget_tweaks %}

{% block content %}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }

    .btnSubmit {
      text-align: center;
    }

    .form-check-label {
      margin-right: 10px; /* Adjust the margin between the checkboxes and labels */
    }
  </style>

  <script>
    $(document).ready(function() {
      // Initialize datepicker
      $('#datepicker').datepicker({
        format: 'mm/dd/yyyy',
        autoclose: true
      });
    });
  </script>
</head>

<form method="post">
  <div class="container">

    <div class="row">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h6 class="panel-title">Attendance</h6>

        </div>

        <table class="table table-hover" id="dev-table">
          <thead>

            <tr>
              <th>Student Name</th>
              <th>Present/Absent</th>
              
            </tr>
          </thead>


          {% csrf_token %}
          {% for student in students %}
          <tr>
            <td>{{ student.get_name }}</td>
            <td>{{ aform.present_status }}</td>
            
          </tr>
          {% endfor %}



        </table>
        <input type="text" id="datepicker" class="form-control" name="date" placeholder="Enter Date mm/dd/yyyy" style="margin-bottom: 20px;">
        <input type="submit" style="margin-left: 200px;
                                        margin-top: 20px;
                                        margin-bottom: 20px;
                                        background-color: #ffec00;" name="submit" value="Submit">
      </div>
    </div>
  </div>
</form>

{% endblock content %}